@import "functions/clearfix";

@font-face {
  font-family: 'capture_itregular';
  src: url('/fonts/captureit_regular/Capture_it-webfont.eot');
  src: url('/fonts/captureit_regular/Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/captureit_regular/Capture_it-webfont.woff') format('woff'),
  url('/fonts/captureit_regular/Capture_it-webfont.ttf') format('truetype'),
  url('/fonts/captureit_regular/Capture_it-webfont.svg#capture_itregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'molot_regular_macroman';
  src: url('/fonts/molot_regular_macroman/Molot-webfont.eot');
  src: url('/fonts/molot_regular_macroman/Molot-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/molot_regular_macroman/Molot-webfont.woff') format('woff'),
  url('/fonts/molot_regular_macroman/Molot-webfont.ttf') format('truetype'),
  url('/fonts/molot_regular_macroman/Molot-webfont.svg#capture_itregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Russo+One&subset=latin,cyrillic);

*, :before, :after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: {
    family: sans-serif;
    size: 16px;
    weight: normal;
  };
  background: {
    image: url("/img/light-bg.jpg");
    repeat: no-repeat;
    position: top center;
    attachment: fixed;
  };
}

.col {
  float: left;
  padding: 10px 0;
}

.col-1000 {
  width: 1000px;
  margin: 0 -20px;
}

.col-960 {
  width: 960px;
}

.col-640 {
  width: 640px;

  & + .col-300 {
    margin-left: 20px;
  }
}

.col-300 {
  width: 300px;
}

.widget {
  text-align: center;
  color: #eeeeee;
  background: url("/img/widget-footer-bg.png") left bottom;
  padding-bottom: 15px;

  .widget_heading {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 8px 10px;
    font: {
      family: 'Russo One';
      size: 24px;
      style: normal;
      weight: normal;
    };
    background: #2f2f2f url("/img/widget-title-bg.png") no-repeat;
    text-align: left;
  }

  .widget_body {
    width: 100%;
    padding: 12px 10px;
    font: {
      family: "capture_itregular";
      size: 20px;
      style: normal;
      weight: normal;
    };
    background-color: #2f2f2f;
  }

  & + & {
    margin-top: 20px;
  }
}

.clearfix {
  @include clearfix();
}