.home-photos-bottom span {
	display: inline-block;
	height: 160px;
	width: 157px;
	overflow: hidden;
}

.home-photos-bottom img {
	height: 160px;
}

.home-photos-top span {
	display: inline-block;
	height: 300px;
	width: 640px;
	overflow: hidden;
}

.home-photos-top img {
	width: 640px;
}

.group-list-wrapper {
	margin-left: 525px;
}

#vk_comments {
	float: left;
}

ul.list-group {
	list-style-type: none;
	padding-left: 10px;
}

ul.list-group li a img {
	vertical-align: middle;
	margin: 5px;
}

.widget_body a {
	color: white;
}

.submitMedicine label {
	display: inline-block;
	width: 190px;
}

.full-width {
	width: 960px;
}
