extends layout

block content
	p Oops, something went wrong on server. Please send message below to
	a(href="mailto:eagleeyes91@gmail.com?subject=Uncaught%20Error%20on%20hvz&body=#{message}") eagleeyes91@gmail.com
	p= message