extends layout

block title
	| Главная страница

block content
	h1 Здраствуйте

	p
		img(src="http://placehold.it/400x400", style="padding: 25px;")
		img(src="http://placehold.it/600x400", style="padding: 25px;")
	p
		img(src="http://placehold.it/600x400", style="padding: 25px;")
		img(src="http://placehold.it/400x400", style="padding: 25px;")

	p Всего заригестрировано: #{users.length}