extends layout


block title
	| - Главная страница

block content
	p Список пользователей. Всего: #{users.length}
	ol.list-group
		each user in users
			li.list-group-item.user-list
				a(href=user.profile.profileUrl)
					img.avatar(src=user.profile.photos[0].value)
					=user.profile.displayName