doctype html
html
	head
		link(rel="shortcut icon", href="/favicon.png", type="image/vnd.microsoft.icon")
		meta(charset="utf-8")
		title Humans vs Zombies KPI
		block head
	body
		#content
			block content