doctype html
html
	head
		link(rel="shortcut icon", href="/favicon.png", type="image/vnd.microsoft.icon")
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.4.2/base-min.css")
		link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0-rc-1/pure-min.css")
		link(rel="stylesheet" href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel="stylesheet" href='lib/flipClock/flipclock.css')
		link(rel="stylesheet" href='css/main.css')
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title
			block title
			|  | Humans vs Zombies KPI
		script(src='//code.jquery.com/jquery-2.1.1.min.js')
		script(src='lib/flipClock/flipclock.min.js')
		script(src='lib/moment-with-langs.min.js')
		script(src='index.js')
		block head
	body
		header
			div.pure-menu.pure-menu-open.pure-menu-horizontal
				ul
					li: a(href="/") Главная
					li: a(href="/rules") Правила
					li: a(href="/teamHuman") Команда людей
					li: a(href="/teamZombie") Команда зомби
					if isAuth && user.role == 'admin'
						li: a(href="/admin") Админка
					li
						if isAuth
							a(href="/profile")
								| Здраствуйте, #{user.profile.displayName}
						else
							a(href="/auth/vkontakte")
								img.vkLogin(src="/img/login_with_vkontakte.png")
		#content
			block content