extends layout

block title
	| Список учасников команды

block headerBanner
	if user.role == 'zombie'
		div.header_banner.__small
			img.header_banner_img(src="/img/header_banners/banner_3.jpg", alt="Баннер")
			div.header_banner_title
				h1.title_heading
					| Команда зомби
				div.title_text
					| - Уничтожь всех людей как можно скорее

	if user.role == 'human'
		div.header_banner.__small
			img.header_banner_img(src="/img/header_banners/banner_1.png", alt="Баннер")
			div.header_banner_title
				h1.title_heading
					| Команда людей
				div.title_text
					| - Не попадайся на глаза зомби

block content
	p Список учасников команды
	ul.list-group
		each user in users
			li.list-group-item.user-list
				a(href=user.profile.profileUrl)
					img.avatar(src=user.profile.photos[0].value)
					=user.profile.displayName