html.ui-mobile
	head
		title HVZ Mobile
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no")
		link(rel="stylesheet" href='/mobile/jquery.mobile.custom.structure.min.css')
		link(rel="stylesheet" href='/mobile/jquery.mobile.custom.theme.min.css')
		script(type="text/javascript", src='//code.jquery.com/jquery-2.1.1.min.js')
		script(type="text/javascript", src='/mobile/jquery.mobile.custom.min.js')
		script(type="text/javascript", src='/js/vendor/jquery.cookie.js')
		script(type="text/javascript", src='/js/build/mobile.js')
		block head
	body.ui-mobile-viewport
		.ui-content
			block content
			a.ui-btn.ui-corner-all#desktopVersion Полная версия сайта
		include analytics
