extends layout

block title
	| Прифиль

block content
	p.results
		if err
			| err:
			=err
		| data:
		=data
	.timer(data-timer=timer)
	if user.role === 'zombie'
		form.pure-form(action="/zombie/submitHuman", method="POST")
			fieldset
				legend Ввести код человека
				input(type="text", name="hash", required="required")
				input.pure-button.pure-button-primary(type="submit", value="Захвать")
	if user.role === 'admin'
		form.pure-form(action="/human/submitMedicine", method="POST")
			fieldset
				legend Ввести код лекарства
				input(type="text", name="code", required="required")
				input.pure-button.pure-button-primary(type="submit", value="Полечится")