extends layout

block title
	| Профиль

block head
	link(rel="stylesheet" href='/css/vendor/flipclock.css')
	script(src='/js/vendor/flipclock.min.js')
	script(src="/js/build/profile.js")

block headerBanner
	div.header_banner.__small
		img.header_banner_img(src="/img/header_banners/banner_6.jpg", alt="Баннер")
		div.header_banner_title
			h1.title_heading
				| Личный кабинет
			div.title_text
				| - Наверное, самое спокойное место на Земле

block content
	if profileMessage
		p.message=profileMessage
	if !hasStarted
		//&& user.vkontakteId !== "8519950" && user.vkontakteId !== "51551411"
		| После 17.00 2 октября здесь будет таймер, который покажет, сколько вам нужно времени, для того чтоб съесть лекарство или человека, если вы зомби. Съесть съедобное тоже можно будет здесь.
	else if hasEnded
		| Спасибо всем за игру! До новых встреч! #КПИЗомби
	else if user.isDead
		p.message К сожелению, вы проирали. Ждите следующую игру
	else if user.role == 'pending'
		h3 Получение карточек
		p Карточки и повязки можно будет получить в пятницу 03 с 12:00 до 14:00 на площади Знаний (возле Прометея).
		img(src="http://kpi.ua/files/images-story/prometheus.jpg")
	else
		p Здравствуйте, #{user.profile.displayName}! Ваша роль - #{user.role == 'zombie' ? 'ЗОМБИ' : 'ЧЕЛОВЕК'}
		if user.role == 'zombie'
			p Вам нужно захавать человека на протяжении
		if user.role == 'human'
			p Вам нужно достать вакцину на протяжении
		p
			| Да, кстати, "в поле" удобнее использовать 
			a(href="/m") мобильную версию сайта
			| . Там можно ввести код и посмотреть последнюю командную новость
			| . Удачи :)
		.timer(data-timer=user.timer)
		if user.isAdmin || user.role === 'zombie'
			form(action="/zombie/submitHuman", method="POST")
				fieldset
					legend Ввести код человека
					input(type="text", name="hash", required="required")
					input(type="submit", value="Захавать человека")
		if user.isAdmin || user.role === 'human'
			form(action="/human/submitMedicine", method="POST")
				fieldset
					legend Ввести код лекарства
					input(type="text", name="code", required="required")
					input(type="submit", value="Полечиться")
