extends layout
block title
	| Правила

block head
	script(type="text/javascript", src='http://maps.google.com/maps/api/js?sensor=true')
	script(type="text/javascript", src='/js/vendor/gmaps.js')
	script(type="text/javascript", src='/js/build/mapGamezone.js')

block headerBanner
	div.header_banner.__small
		img.header_banner_img(src="/img/header_banners/banner_4.jpg", alt="Баннер")
		div.header_banner_title
			h1.title_heading
				| Правила
			div.title_text
				| - Даже в такие тяжелые времена нужно соблюдать правила

block content
	div
		h3 Масштабы игры:
		p Количество участников - от нескольких сотен до нескольких тысяч (чем больше, тем лучше). Участие разрешено не только для студентов КПИ, но и для всех желающих.
		p Начало -  2 октября в 12.00.
		p Конец игры - 8 октября в 17.00. 
		p Регистрация разрешена до и после начала игры и заканчивается 5 октября в 17:00. 
		h3#gamezone Игровая Зона
		div.col-1000#map_gamezone
		ul
			li Корпуса, общежития, магазины и другие здания являются НЕИГРОВЫМИ зонами.
			li Крыльцо является НЕИГРОВОЙ зоной в течение ОДНОЙ минуты нахождения игрока на нем. После этого крыльцо становится ИГРОВОЙ зоной. Повторно крыльцо может стать неигровой через 10 минут.
			li Ступеньки являются ИГРОВОЙ зоной!
			li Проезжие части являются НЕИГРОВЫМИ зонами. Укрываться от погони на них ЗАПРЕЩЕНО.
		h3 Инвентарь Игрока
		ul
			li Идентификационная карточка (предоставляется организаторами)
		p Карточка находится у игрока в течение всей игры и никому не передается. 
			li БЕЛАЯ повязка с вашим номером (предоставляется организаторами)
		p Номер на повязке должен соответствовать номеру на карточке игрока.
			li Снаряды (делаются игроками)
		p СНАРЯД - это бумажный шарик, ПЕРЕМОТАННЫЙ СКОТЧЕМ, размером примерно с теннисный мяч, без ЛЮБЫХ хвостов (держащих его элементов). Просто бумажные шары и "хвостатые" шары снарядами НЕ ЯВЛЯЮТСЯ.
		p Заворачивать ЛЮБЫЕ предметы в Снаряд ЗАПРЕЩЕНО!
			li Нерф Бластеры (принадлежат игрокам, наличие не обязательно)
		p В дополнение к Снарядам игроки команды “Люди” в качестве оружия могут использовать НЕРФ БЛАСТЕРЫ. Действие “патрона” бластера полностью аналогично действию Снаряда. (Зачем тогда они вообще нужны? Просто потому что прикольнее бегать с такой пушкой, чем с Снарядами, ну и они используются в Штатах).
		p Любое страйкбольное, пейнтбольное или пневматическое оружие Нерф бластером НЕ ЯВЛЯЕТСЯ и СТРОГО ЗАПРЕЩЕНО. 
		p
		h3 Игровой процесс
		p Противостояние происходит между двумя командами: Люди и Зомби. Игра по своей сути напоминает "салочки": коснуться игрока, что бы поймать его и присоединить к своей команде. Изначально все игроки Люди, есть лишь один Зомби. Когда Зомби касается Человека, тот становится Зомби (полная процедура перехода в команду зомби описана ниже), и начинает ловить других Людей.
		p Цель для команды Зомби – «уничтожить» команду Людей, для команды Люди – продержаться, «выжить» игровое время.
		p От «салочек» Игра отличается тем, что Люди могут противостоять зомби с помощью Снарядов. При попадании Снарядом в Зомби, тот «оглушается», то есть не может предпринимать ИГРОВЫХ действий в течении 5 МИНУТ. (под ИГРОВЫМИ действиями понимается: касание к человеку и работа «живым щитом» (прикрытие собой других зомби от Снарядов). Это дает возможность Человеку достаточно легко отбиться от нескольких Зомби, но отбиться становится очень сложно, когда Зомби много (все как в фильмах про зомби).
		p Еще одно отличие в том, что из-за большого количества участников зачастую игроки не знают друг друга. Это подталкивает их знакомиться и как-то организовываться (к примеру, начиная от группы в ВК и канала в Zello вплоть до организованного «штаба» и патрулей), так как большой группой легче противостоять другой команде.
		p Игра проходит в любое время суток. Это значит, что «эпических» схваток следует ожидать и в перерывах между парами, и после обеда, и в вечернее (ночное) время, что в сумме с большой игровой территорией заставляет всегда быть бдительным. Участник может «зайти» в игру просто надев игровую повязку, точно так же как и «выйти», просто сняв ее, что дает возможность играть в удобное именно для Вас время. Единственное, что надевать или снимать опознавательную повязку Игрок может только в НЕ ИГРОВЫХ зонах.
		p Использовать разрешено только Бластеры, “МАРКИРОВАННЫЕ” Организаторами. Маркировать бластер можно при получении карточки или в штабе организаторов.
		
			| Вся игра координируется через Сайт
			a(href='/')  http://www.hvz.kiev.ua
			| . На нем Вы сможете увидеть количество игроков, вашу команду и ее участников, подтвердить то, что вы поймали кого то из игроков и увидеть ваш игровой таймер. Любые игровые оповещения игроки могут найти во вкладке «Команда Людей/Зомби».
		p Для того, что бы игроки не отсиживались дома и не ждали победы, у каждого игрока есть личный игровой Таймер (находиться на Сайте, в «Личном кабинете»), показывающий время, которое Игрок еще будет играть. Изначально для Людей это 30 часов, для Зомби 24 часа. Таймер ведет обратный отсчет, если доходит до значения 00:00:00, то Человек превращается в Зомби автоматически, а Зомби дисквалифицируется. «Обнулить» Таймер, то есть вернуть на начальные значения 30:00:00 и 24:00:00 соответственно можно, если ввести специальный Код, который можно достать в Игровой зоне. О том где его найти читайте ниже.
		p Также в течение игры будут проходить Квесты, о них будет заблаговременно сообщено на Сайте, в новостных лентах каждой из команд. При прохождении квестов можно будет получать некоторые бонусы.
		p Настоящие правила разработаны для того, что бы сделать игру интересной, безопасной и не мешающей другим людям. Контроль их выполнения производят Модераторы (находятся на игровой территории, не имеют опознавательной повязки, но имеют специальную карточку Модератора). Они имеют право дисквалифицировать игрока при нарушении правил. Модератор ВСЕГДА прав и его слово последнее в решении любых игровых споров.
	
		h3 Описание игры
		p Игра является имитацией зомби-апокалипсиса.
		p Противостояние происходит между двумя командами: Люди и Зомби. Игра по своей сути напоминает "салочки": коснуться игрока, чтобы поймать его и присоединить к своей команде. Изначально все игроки - Люди, есть лишь один Зомби. Когда Зомби касается Человека, тот становится Зомби (полная процедура перехода в команду зомби описана ниже), и начинает ловить других Людей.
		p Цель для команды Зомби – «уничтожить» команду Людей, для команды Людей – продержаться, «выжить» игровое время.
		p От «салочек» Игра отличается тем, что Люди могут противостоять зомби с помощью Снарядов. Человеку достаточно легко отбиться от нескольких Зомби, но сражаться с большим количеством Зомби становится очень сложно (все как в фильмах про зомби).
		p Еще одно отличие в том, что из-за большого количества участников зачастую игроки не знают друг друга. Это подталкивает их знакомиться и как-то организовываться (к примеру, начиная от группы в ВК и канала в Zello вплоть до организованного «штаба» и патрулей), так как большой группой легче противостоять другой команде.
		p Игра проходит в любое время суток. Это значит, что «эпических» схваток следует ожидать и в перерывах между парами, и после обеда, и в вечернее (ночное) время, что в сумме с большой игровой территорией заставляет всегда быть бдительным. Участник может «зайти» в игру просто надев игровую повязку, точно так же как и «выйти», просто сняв ее, что дает возможность играть в удобное именно для Вас время.
			| Вся игра координируется через Сайт
			a(href='/')  http://www.hvz.kiev.ua
			| . На нем Вы сможете увидеть количество игроков, вашу команду и ее участников, подтвердить то, что вы поймали кого то из игроков и увидеть ваш игровой таймер. Любые игровые оповещения игроки могут найти во вкладке «Команда Людей/Зомби».

		h3 Общие игровые моменты
		p После регистрации все участники могут оплатить участие, получить Идентификационную Карточку и Повязку у организаторов. Время и место будет указано позже. Это же касается людей, зарегистрировавшихся после начала Игры.
		p Первый Зомби появляется 2 октября в 12:00, с 12:00 до 17:00 не носит опознавательной повязки, при поимке игрока предъявляет карточку Первого Зомби. Все пойманные им игроки сразу НАДЕВАЮТ опознавательные повязки.
		p Форма ношения повязок. Для людей - на Левой руке, на БИЦЕПСЕ БЛИЖЕ К ЛОКТЮ. Для зомби - на ГОЛОВЕ или на ШЕЕ (для девушек по возможности ПОВЕРХ волос). При ношении на повязке должен быть хорошо виден номер. 
		p Снимать ПОВЯЗКУ в ИГРОВОЙ зоне ЗАПРЕЩЕНО.
		p Личную повязку запрещено отдавать другим игрокам, а так же носить чужую повязку или две повязки одновременно.
		p Время “жизни” игрока отмеряеться Таймером (находится в Личном кабинете на сайте). Изначальное время Таймера 24 часа. Таймер ведет обратный отсчет, если доходит до значения 00:00:00, то Человек превращается в Зомби автоматически, а Зомби дисквалифицируется. Для того, что бы восполнить время Людям необходимо искать “Вакцины”, Зомби - ловить людей.
		p Игрок находится в игре, если он присутствует в Игровой зоне и носит опознавательную повязку. Надевать или снимать опознавательную повязку Игрок может только в НЕИГРОВЫХ зонах. Игроки имеют право покидать игровую зону, но это не останавливает их игровой Таймер. Если Игроку необходимо покинуть игру более чем на 24 часа, он может сдать свою Карточку и Повязку Организаторам в Игровом штабе и его таймер будет приостановлен (продлен на необходимое количество часов).
		p При попадании Снарядом в Зомби, тот «оглушается», то есть не может предпринимать ИГРОВЫХ действий в течение 5 МИНУТ. (под ИГРОВЫМИ действиями понимается: касание к человеку, работа «живым щитом» (прикрытие собой других зомби от Снарядов), удаленная связь с игроками своей команды (с помощью телефона, рации и другими средствами связи). Так же оглушенному Зомби ЗАПРЕЩЕНО бежать и преследовать игрока другой команды (необходимо либо стоять на месте, либо двигаться в противоположном направлении).
		p Зомби не имеет права прикрываться от снарядов любыми перемещаемыми предметами, используя их в качестве щита (сумки, папки, и др.), считается с ними одним целым и при попадании в эти предметы оглушается.
		p Рикошет попаданием НЕ СЧИТАЕТСЯ.
		p НЕ игроков в качестве живого щита использовать ЗАПРЕЩЕНО.
		p НЕоглушенный зомби может касаться НЕПОДВИЖНЫХ Снарядов, Оглушенному Зомби прикасаться к ЛЮБЫМ снарядам ЗАПРЕЩЕНО. 
		p При массовых “битвах” (в которых задействовано 5 и более игроков), оглушенный Зомби должен отойти от активных игроков на расстояние не менее 10 метров.
		p К Патрону от Нерф Бластера ЗАПРЕЩЕНО прикасаться всем Зомби. 
		p Для удобства есть возможность пользоваться Мобильной версией сайта Она максимально облегчена и используется для максимально оперативной работы (быстрого введения вакцин или кодов людей с любого мобильного устройства без сильного удара по трафику)
		p Контроль выполнения правил производят Модераторы. Они НЕ НОСЯТ опознавательной повязки, но имеют специальную карточку модератора.
		p Они имеют право дисквалифицировать игрока при нарушении правил. Модератор ВСЕГДА прав и его слово последнее в решении любых игровых споров.
		p Если игрок стал свидетелем нарушения, то желательно сделать фото или видео подтверждение и сообщить организатором (модераторам). Выяснение обстоятельств будет производится в частном порядке.

		h3 Игроки команды «ЛЮДИ»
		p Люди обозначают себя БЕЛОЙ ПОВЯЗКОЙ на ЛЕВОЙ РУКЕ.
		p Люди могут противостоять Зомби с помощью Снарядов (Нерф бластеров).
		p Человек считается “пойманным”, если Зомби коснулся ЛЮБОЙ его личной вещи или любой части тела.
		p При поимке Человека, он обязан 1 РАЗ показать свою карточку поймавшему его Зомби (Показывать нужно столько времени, сколько будет необходимо Зомби, что бы считать/переписать себе ID пойманного игрока)
		p Стартовое время Людей - 21 час.
		p Для «поддержания жизни» Люди должны регулярно «принимать вакцину», то есть отправлять на Сайт уникальный КОД вакцины. Отправить код можно из «Личного кабинета» на сайте игры. За отправку кода таймер обнуляется и начинает отсчитывать 24 часа. Вакцину можно использовать в течение ЧЕТЫРЕХ часов после ее появления.
		p Коды Вакцины Люди смогут находить в специальных СИНИХ конвертах, находящихся в игровых зонах.
		p Вакцины с бесконечным сроком годности можно будет найти без конвертов, в любой точке игровой зоны.
		p Каждый игрок команды Люди может использовать только ОДНУ Вакцину с каждой “раздачи”.
		p После каждого обновления Вакцины будут находиться в других местах. Места нахождения Вакцины заранее будут написаны в новостной ленте, во вкладке «Команда Люди».
		p Брать больше ОДНОЙ вакцины из конверта ЗАПРЕЩЕНО.
		p Если Человек НЕ отправил Код до обнуления таймера, он автоматически превращается в Зомби.
		p На игровом сайте будут выкладываться списки выбывших или дисквалифицированных игроков. При поимке удостоверьтесь, что поймавший вас игрок, не выбыл!
		h3 Игроки команды «ЗОМБИ»
		p Зомби обозначают себя БЕЛОЙ ПОВЯЗКОЙ на ШЕЕ или ГОЛОВЕ.
		p Стартовое время Зомби - 24 часа. При поимке каждого Человека к текущему времени на таймере Зомби ПРИБАВЛЯЕТСЯ 36 часов.  
		p Для того, что бы «поймать» Человека Зомби должен коснуться его и считать информацию с его игрововй карточки: 
		ul
			li с помощь смартфона считать QR-код с карточки игрока и он переводится в команду Зомби автоматически;
			li при отсутствии возможности считать QR-код, необходимо переписать цифро-буквенный ID вручную, после чего вписать в соответствующее поле в “Личном кабинете”. При отсутствии интернета воспользоваться ближайшей wi-fi точкой;
			li при отсутствии девайса, с помощью которого можно зайти в интернет, зайти в “Игровой штаб”, где Организаторы предоставят необходимый девайс.
		p Все игроки Зомби могут ПЕРЕДАВАТЬ друг другу время. Для этого в специальном поле в Личном кабинете необходимо указать ID Зомби и количество часов, которые вы хотите передать. Оставшееся время он может узнать по игровому Таймеру, который находится в его профиле. 
		p Игрокам команды Зомби ЗАПРЕЩЕНО ПРИКАСАТЬСЯ к Конвертам И ВАКЦИНАМ, воздействовать на них ЛЮБЫМИ другими предметами, проводить над ними ЛЮБЫЕ действия (поджигать, поливать водой и т. п.), или просить это делать НЕ ИГРОКОВ.
		p Зомби может ловить следующего Человека ТОЛЬКО ПОСЛЕ того, как считал информацию с Карточки у предыдущего. То есть, Зомби не может поймать двух и более игроков ОДНОВРЕМЕННО.
		p Игрок становится Зомби ТОЛЬКО ПОСЛЕ того, как появится на САЙТЕ в команде Зомби.

		h3 ЗАПРЕЩЕНО
		ul
			li Выполнять любые игровые действия вне игровых зон.
			li Использовать ЛЮБОЕ другое вооружение, кроме регламентированного правилами.
			li Принимать алкогольные или слабоалкогольные напитки с надетой игровой повязкой.
			li Совершать игровые действия на проезжей части, а так же скрываться на них от погони
			li Забирать КОНВЕРТЫ с места их нахождения ЗАПРЕЩЕНО ВСЕМ игрокам.
		p Настоящие правила разработаны для того, что бы сделать игру интересной, безопасной, чтобы она не мешала другим людям. 
		p Организаторы имеют право вносить правки и изменения в Правила как до начала Игры, так и во время ее прохождения
