extends layout
block title
	| Правила

block head
	script(type="text/javascript", src='http://maps.google.com/maps/api/js?sensor=true')
	script(type="text/javascript", src='/js/vendor/gmaps.js')
	script(type="text/javascript", src='/js/mapGamezone.js')

block headerBanner
	div.header_banner.__small
		img.header_banner_img(src="/img/header_banners/banner_4.jpg", alt="Баннер")
		div.header_banner_title
			h1.title_heading
				| Правила
			div.title_text
				| - Даже в такие тяжелые времена нужно соблюдать правила

block content
	div
		h2 ОСНОВНОЕ
		p Игра является имитацией зомби апокалипсиса.
		h3 Масштабы игры:
		p Количество участников от нескольких сотен до нескольких тысяч (чем больше, тем лучше).
		p Начало 29 мая в 12.00 – появление Первого Зомби. Первый Зомби имеет право не носить опознавательную повязку до 17.00 часов.
		p Конец игры 03 июня в 18.00.
		h3#gamezone Игровая Зона
		p (корпуса, общежития, магазины и другие здания являются НЕ ИГРОВЫМИ зонами)
		div.col-1000#map_gamezone
		p Противостояния происходит между двумя командами: Люди и Зомби. Изначально почти все участники игры являются Людьми, в команду Зомби входит один человек.
		p Цель игры: для команды Зомби – уничтожить команду Людей, для команды люди – продержаться «выжить» игровое время.
		p Инвентарь Игрока: БЕЛАЯ повязка, Идентификационная карта (предоставляется организаторами),  Снаряды (делаются игроками).
		p Вся игра координируется через Сайт, все Игроки изначально проходят регистрацию.
		p Регистрация разрешена в течении всей игры.
		p При регистрации после начала игры все зарегистрировавшиеся участники могут получить карты у модератора в указанном на сайте месте в определенное время.
		p Возникающие конфликты между игроками решает модератор.
		p Модератор всегда прав и имеет право дисквалифицировать игроков при нарушении ими правил.
		p Одевать или снимать опознавательную повязку Игрок может только в Определенных НЕ ИГРОВЫХ зонах.
		h3 ЛЮДИ
		p Люди обозначают себя БЕЛОЙ ПОВЯЗКОЙ на ЛЕВОЙ РУКЕ
		p Люди могут противостоять Зомби с помощью бумажных шариков перемотанных скотчем, размером примерно с теннисный мяч (далее Снаряд). При попадании Снарядом в Зомби, тот «оглушается», то есть не может предпринимать ИГРОВЫХ действий в течении 5 МИНУТ. Под ИГРОВЫМИ действиями понимается: касание к человеку и работа «живым щитом» (прикрытие собой других зомби от Снарядов).
		p Для поддержания жизни  Люди должны регулярно «принимать вакцину», то есть отправлять на Сайт уникальный КОД. Код нужно отправлять каждые 30 часов. На сайте у каждого Человека есть свой таймер, который показывает сколько времени осталось до необходимости ввести КОД. Коды Люди смогут находить в специальных конвертах, находящихся в игровых зонах. Коды обновляются каждые 24 часа, ровно в 17.00, то есть КОД , найденный до 17.00 и отправленный после 17.00 засчитан НЕ БУДЕТ.
		p Если Человек НЕ отправил КОД до обнуления таймера, он автоматически превращается в Зомби.
		p Так же в течении игры будут проходить Квесты, о них будет заблаговременно сообщено на Сайте. При прохождении квестов некоторые игроки могут получить особые возможности, о чем будет сообщено в ленте для всех игроков.
		h3 ЗОМБИ
		p Зомби обозначают себя БЕЛОЙ ПОВЯЗКОЙ на ШЕЕ.
		p Зомби должен ловить Человека каждые 24? часа. Оставшееся время он может узнать по таймеру, находящемуся в его профиле.
		p Процедура превращения Человека в Зомби
		p Для того, что бы поймать Человека Зомби должен его коснуться, взять его карточку в качестве трофея, после чего из своего профиля отправить запрос о поимке Человека.
		p При попадании Снарядом в Зомби, тот «оглушается», то есть не может предпринимать ИГРОВЫХ действий в течении 5 МИНУТ. Под ИГРОВЫМИ действиями понимается: касание к человеку и работа «живым щитом» (прикрытие собой других зомби от Снарядов).
		p Зомби не имеет права прикрываться от снарядов любыми перемещаемыми предметами используя их в качестве щита (сумки, папки, и др.), считается с ними одним целым и при попадании в эти предметы оглушается.
		p Зомби не оглушается прикоснувшись к НЕПОДВИЖНОМУ снаряду.
		p (После этого Человек обязан в течении 1? часов подтвердить данную заявку. При отправке запроса у Зомби к значению таймера прибавляется бонусный 1? час, и после подтверждения заявки прибавляется еще 23 часа.)
		p Контроль выполнения правил будет проводится смотрящими модераторами. Они будут находится на игровой территории без опознавательных знаков. Если они замечают нарушение игровых правил, то могуд дисквалифицировать нарушителя.
		h3 ЗАПРЕЩЕНО:
		p Ловить людей на проезжих частях.
		p Заворачивать КАКИЕ ЛИБО предметы в Снаряд.
		p Принимать алкогольные или слабоалкогольные напитки с одетой игровой повязкой.
		p Выполнять любые игровые действия в не игровых зонах
		h2 Краткие правила:
		h3 ЛЮДИ
		ul
			li Носи БЕЛУЮ ПОВЯЗКУ на ЛЕВОЙ РУКЕ.
			li У тебя 30 часов что бы найти очередную порцию вакцины.
			li Не забудь отправить код вакцины на сайт.
			li Бросай в зомби Снаряды (бумажные шарики перемотанные скотчем).
			li Все игровые новости смотри на сайте.
			li Участвуй в Квестах и получай бонусы.
			li Отдай свою карту зомби, если он тебя поймал.
			li Помогай другим ЛЮДЯМ.
		h3 ЗОМБИ
		ul
			li Носи БЕЛУЮ ПОВЯЗКУ на ШЕЕ.
			li Лови людей не реже чем раз в 24 часа.
			li Не забудь забрать у человека его карту и отправить его ID на сайт.
			li Если в тебя попали снарядом - не играй 5 минут.
			li Если попали в ЛЮБУЮ твою вещь - в тебя ПОПАЛИ.
			li Все игровые новости смотри на сайте.
			li Помогай другим ЗОМБИ.