extends layout
block head
	script(src='//vk.com/js/api/openapi.js?112')
	script.
		VK.init({apiId: #{vkAppId}, onlyWidgets: true});
block title
	| Команда зомби

block headerBanner
	div.header_banner.__small
		img.header_banner_img(src="/img/header_banners/banner_3.jpg", alt="Баннер")
		div.header_banner_title
			h1.title_heading
				| Команда зомби
			div.title_text
				| - Уничтожь всех людей как можно скорее

block content
	h3 ВАЖНО!
	p В связи с доработкой механики игры Таймер ВСЕХ Зомби увеличен на 6 ЧАСОВ. Недавно выбывшие зомби вернуться в игру.
	p P. S. Не огорчайтесь изменениям в правилах. Они вводятся для того, что бы попытаться сбалансировать игру (а балансировать достаточно сложно, так как она проводится впервые). Отнеситесь к организаторам с пониманием.
	hr
	p Сегодня примерно после 14.00 что то будет происходить... Но вот что?
	hr
	h3 31.05 ВАЖНО! 
	p Игрокам команды Зомби ЗАПРЕЩЕНО ПРИКАСАТЬСЯ к Конвертам И ВАКЦИНАМ, воздействовать на них ЛЮБЫМИ другими предметами, проводить над ними ЛЮБЫЕ действия (поджигать, поливать водой и т. п.), или просить это делать НЕ ИГРОКОВ.
	h3 ВАЖНО! 
	p Игрок Человек должен ОТДАТЬ свою игровую карточку поймавшему его ЗОМБИ только ПОСЛЕ того, как убедится, что поймавший его Зомби находится в команде ЗОМБИ на САЙТЕ (роль показывается в мобильной версии в личном кабинете, либо он должен быть в списке в Команде Зомби, либо фото из личного кабинета с временем и датой).
	p Это правило вводится потому, что много зомби УЖЕ ВЫБЫЛИ из игры и по правилам НЕ МОГУТ ловить других игроков. Так же игроков не должны ловить Зомби, которые до сих пор сидят в команде Людей на Сайте.
	p ЗОМБИ! Вы должны заранее продумывать, как сможете доказать свою принадлежность к команде Зомби (можно даже распечатать фото личного кабинета с временем и датой, если нет девайса для доступа к интернету ни у вас, ни у ваших товарищей).
	hr
	h3 30.05 Внимание всем, ВАЖНАЯ информация.
	p Исходя из вчерашнего игрового процесса, в игру вводятся уточняющие правила.
	p 1. Новая форма ношения повязок. Для людей - на Левой руке, на ПРЕДПЛЕЧЬЕ БЛИЖЕ К ЛОКТЮ или на БИЦЕПСЕ БЛИЖЕ К ЛОКТЮ. Для зомби - на ГОЛОВЕ или на ШЕЕ (но она должна быть широкой, для девушек по возможности ПОВЕРХ волос). Повязка должна быть не тоньше 6 см.
	p ПРАВИЛЬНО повязку носить так:
	img.full-width(src="/img/bandage2.png")
	p 2. Для удобства Игроков введена игровая страница для Мобильных Телефонов. С нее вы можете видеть личный таймер, отправлять коды и нажимать кнопку “Меня поймали ”. Она находится по адресу <a href="http://www.hvz.kiev.ua/m">http://www.hvz.kiev.ua/m</a> и <s>к вечеру будет полностью роботоспособна</s> он уже работает.
	p 3. Забирать КОНВЕРТЫ с места их нахождения ЗАПРЕЩЕНО ВСЕМ игрокам.
	p 4. Если игрока поймали, он должен СРАЗУ (или в ближайшее время, если вообще уже нет интернета) нажать в своем профиле кноп у “Меня поймали”. Все игроки, которые УЖЕ стали Зомби, обязаны в личном кабинете нажать кнопку “Меня поймали”, чтобы пере еститься в команду Зомби. Пока что кнопка “Меня поймали” в разработке. К вечеру должна работать.
	p 5. Зомби может ловить следующего Человека ТОЛЬКО ПОСЛЕ того, как взял Идентификационную Карточку у предыдущего.. То есть, Зомби не может поймать двух и более игроков ОДНОВРЕМЕННО.
	p 6. Зомби может надевать Повязку Зомби и ловить игроков ТОЛЬКО ПОСЛЕ того, как появится на САЙТЕ в команде Зомби.
	p 7. Зомби может вводить код Человека тогда, когда ему нужно.
	p 8. Зомби, в которого попали Снарядом, не имеет права ходить за Человеком. Он может либо стоять на месте, либо удаляться от человека. Так же Зомби, поверженному снарядом, ЗАПРЕЩАЕТСЯ бежать. Время действия “оглушения” - 5 минут.
	hr
	p 29.05 ВНИМАНИЕ! ЗОМБИ запрещается преследовать ЛЮДЕЙ, если у них попали снарядом! Они могут стоять или двигаться в противоположном направлении!
	hr
	p 29.05. сегодня в парке КПИ после 20:30 будет очень жарко…
	hr
	p 28.05. Новостей нет, пока охотьтесь ;)
	#vk_comments
	script.
		VK.Widgets.Comments("vk_comments", {limit: 10, width: "520", attach: "*"});
	.group-list-wrapper
		p Список участников команды. Всего: #{users.length}
		ul.list-group
			each user in users
				li.list-group-item.user-list
					a(href=user.profile.profileUrl)
						img.avatar(src=user.profile.photos[0].value)
						=user.profile.displayName
