extends layout
block head
	script(src='//vk.com/js/api/openapi.js?112')
	script.
		VK.init({apiId: #{vkAppId}, onlyWidgets: true});
block title
	=title

block headerBanner
	div.header_banner.__small
		img.header_banner_img(src="/img/header_banners/banner_1.png", alt="Баннер")
		div.header_banner_title
			h1.title_heading
				| Команда людей
			div.title_text
				| - Не попадайся на глаза зомби

block content
	| 27.05. Идентификационные карточки все зарегистрировавшиеся игроки могут получить 28 мая, в среду с 16:00 до 20:00. Выдача будет происходить в трех пунктах:
	ul
		li
			| башня КПИ (левая башня первого корпуса), в нижней комнатке с подушками; выдавать будут
			a(href="http://vk.com/jo__vega", target="_blank")  Роман
			|  или
			a(href="http://vk.com/id41380611", target="_blank")  Валентина
		li
			|возле Нового Прометея (Площадь Знаний), на ступеньках; выдавать будут
			a(href="http://vk.com/p0zitivchik_a", target="_blank")  Алина
			|  или
			a(href="http://vk.com/id51551411", target="_blank")  Таня
		li
			| в антикафе Бергамот (ул. Смоленская 3), выдавать будут
			a(href="http://vk.com/m.melnikova", target="_blank")  Марья
			|  или
			a(href="http://vk.com/id17513783", target="_blank")  Оля
	#vk_comments
	script.
		VK.Widgets.Comments("vk_comments", {limit: 10, width: "520", attach: "*"});
	.group-list-wrapper
		p Список участников команды. Всего: #{users.length}
		ul.list-group
			each user in users
				li.list-group-item.user-list
					a(href=user.profile.profileUrl)
						img.avatar(src=user.profile.photos[0].value)
						=user.profile.displayName
