extends layout
block head
	script(src='//vk.com/js/api/openapi.js?112')
	script.
		VK.init({apiId: #{vkAppId}, onlyWidgets: true});
block title
	| Команда зомби

block headerBanner
	div.header_banner.__small
		img.header_banner_img(src="/img/header_banners/banner_3.jpg", alt="Баннер")
		div.header_banner_title
			h1.title_heading
				| Команда зомби
			div.title_text
				| - Уничтожь всех людей как можно скорее

block content
	p 29.05. сегодня в парке КПИ после 20:30 будет очень жарко…
	hr
	p 28.05. Новостей нет, пока охотьтесь ;)
	#vk_comments
	script.
		VK.Widgets.Comments("vk_comments", {limit: 10, width: "520", attach: "*"});
	.group-list-wrapper
		p Список участников команды. Всего: #{users.length}
		ul.list-group
			each user in users
				li.list-group-item.user-list
					a(href=user.profile.profileUrl)
						img.avatar(src=user.profile.photos[0].value)
						=user.profile.displayName