extends layout
block head
	script(src='//vk.com/js/api/openapi.js?112')
	script.
		VK.init({apiId: #{vkAppId}, onlyWidgets: true});
block title
	=title

block headerBanner
	div.header_banner.__small
		img.header_banner_img(src="/img/header_banners/banner_1.png", alt="Баннер")
		div.header_banner_title
			h1.title_heading
				| Команда людей
			div.title_text
				| - Не попадайся на глаза зомби

block content
	| Командная страница. Тут будет чат и последние новости
	#vk_comments
	script.
		VK.Widgets.Comments("vk_comments", {limit: 10, width: "520", attach: "*"});
	p Список учасников команды. Всего: #{users.length}
	ul.list-group
		each user in users
			li.list-group-item.user-list
				a(href=user.profile.profileUrl)
					img.avatar(src=user.profile.photos[0].value)
					=user.profile.displayName