h3 А вот и первые вакцины!
p Из лабораторных журналов стало известно, что есть 4 склада с вакцинами. Так же есть несколько фотографии, возможно вакцины стоит поискать именно там.
p
	img(src="/img/news/new_4/IMG_20141001_162956526.jpg")
	img(src="/img/news/new_4/IMG_20141001_163147953.jpg")
	img(src="/img/news/new_4/IMG_20141001_163549077.jpg")
	img(src="/img/news/new_4/IMG_20141001_163905816.jpg")
	img(src="/img/news/new_4/IMG_20141001_165443728.jpg")
	img(src="/img/news/new_4/IMG_20141001_165702402.jpg")
	img(src="/img/news/new_4/IMG_20141001_172828634.jpg")
	img(src="/img/news/new_4/IMG_20141001_173715400.jpg")
