h3 Волонтеры с вакцинами!
p Из-за потери вакцин многие люди попали под риск заражения! Ученые не могли остаться в стороне и сварили новую партию вакцин.По последним данным к нам прибудут волонтёры с вакцинами.Приблизительное время прибытия 16:00, их местоположение пока что остаётся засекреченным

