h3 Вакцины!!!
p Ученые к нам направили 13 добровольцев, однако живыми добрались только четверо… Напоминаем , что волонтеры тоже люди и их следует охранять.. И если зомби доберутся до них первыми вы потеряете все вакцины… Места , где в последний раз видели волонтеров :
p Места , где в последний раз видели волонтеров :
p
	ul
		li спортом в парке КПИ занимался – поищи там.
		li желтые шары за решеткой
		li пропала белка, укатили шарик
		li первый вертолетчик
		li волонтеру стало плохо , куда же он пошел?
		li место заброшеной крепости

p Волонтер будет носить повязку на кисти. До 16:20 у него будет иммунитет к укусу зомби.
p Р.С. если на месте не оказалось волонтеров – возможно они ещё успели скрыться от кровожадных зомби.


