h3 Победа! 
p У людей большие потери, но это того стоило …!
pЛюди выполнили квест и выжившие волонтеры доставили материал ученым.Последние смогли секвенировать геном вируса и временно внести в него изменения. Теперь у зомби 6 минут оглушения, к тому же у всех Людей время действия вакцины продлилось 20:00 субботы,  4.10.
pА также, к удивлению ученых,  некоторые зомби вернули себе часть сознания..И теперь ,если они соберут 3 типа элементов - они смогут превратиться в Людей. 
pА Людей завтра ожидает интересное испытание=) Начало основной битвы в 16:00 , детальнее утром.
