h3 Найдена новая лаборатория!
p Сегодня стало известно о секретной лаборатории, с невероятным свойством.На её территории вирус моментально погибает, как выяснилось - это благодаря неизученным артефактам..
p Сегодня в полдень будут сброшены материалы, необходимые для создания вакцины от болезни. В силу их токсичности не рекомендуем брать подозрительные предметы – это может закончиться летальным исходом. 
