h3 Защита лаболатории 
p Разведчики обнаружили исследовали лабораторию и пришли к выводу, что внутри безопасно.
p Лабораторию защищает два круга артефактов, до тех пор, пока они закреплены на своих местах – людям не грозит заражение. После уничтожения последнего артефакта в круге – защитное поле будет работать всего 1 минуту..

p Не смотря на защиту артефактов - работа в том месте остаётся очень опасной , и для защиты техников нужны добровольцы!

p Цель людей позволить техникам исследовать оборудование лаборатории. Сколько времени потребуется – точно не известно…
p Возможно именно в лаборатории кроется разгадка болезни…

p Р.С. пока в кругу есть хотя-бы 1 артефакт – Зомби не может зайти в круг и заразить Человека
p Лаборатория находиться напротив памятников, рядом с ней - остановившийся поезд. Техники прибудут в Лабораторию в 16:00 , её можно опознать по характерным артефактам по её периметру.
p P.P.CДо тех пор , пока внутри лаборатории меньше 8 человек , артефакты излучают настолько сильную энергию что зомби не могут приблизиться к границе даже на 5 метров

