h3 Время финальной битвы наступило!
p Битва длиться с 17:00 до 18:30.
p 6 контрольных точек. В начале битвы в трех случайных будет три Флага. Каждой команде необходимо удерживать флаги на точках как можно дольше. Каждый Флаг можно удерживать на любой из точек.
  img(src="http://cs7010.vk.me/c618020/v618020757/185c5/Ww5A_kspJ2M.jpg")
p Для того, что бы активировать Флаг (запустить отсчет таймера в свою пользу), команда должна забрать его с той точки, на которой он находится, и перенести на ДРУГУЮ точку. После того, как Флаг активирован, команде, владеющей им, уже нельзя забирать его с этой точки (только другая команда, захватившая точку, сможет его забрать). 
p После захвата точки Флаг можно забрать через ОДНУ минуту. Игрок, взявший его, обязан ЛИЧНО доставить его к другой точке, и НЕ МОЖЕТ передавать его другим игрокам своей команды, выносить за пределы игровой зоны или оставить в любом месте, не являющимся контрольной точкой. 
p Если этот игрок является Зомби и был оглушен, он обязан положить Флаг на землю рядом с собой и дождаться, когда оглушение закончиться. Во время оглушения он не может помешать Людям завладеть флагом (так что его нужно охранять). Другим зомби касаться Флага запрещено.
p Если игрок с Флагом является Человеком и был пойман, он обязан передать Флаг поймавшему его Зомби.(Если в него попали, ему разрешенно нести Флаг только , когда еффект оглушения закончится). 
p Побеждает команда, у которой суммарное время удержания флагов больше.
p Во время Последней битвы заходить в учебные корпуса Игрокам запрещено! При этом Бювиет остается НЕ ИГРОВОЙ зоной (в него заходить можно, он отмечен точкой 7)!
