h3 Антидот от болезни!
p Благодаря изменению ДНК болезни, среди Зомби появились разумные особи, не желающие нападать на людей. В то же время, ученым посчастливилось узнать рецепт антидота от вируса, однако ресурсы для его создания очень ограниченны!
p Для создания одной порции противоядия необходимо иметь по одному элементу трёх типов:
p
p -Два разных противоядия и специальный физ. раствор
p
p
p К сожалению реактивы очень редкие и их у нас нет… Мы послали запрос Учёным и они пообещали прислать к полудню последние запасы для изготовления лекарства от болезни..

p Р.С. материалы являются очень токсичными и даже Зомби умрёт , если возьмёт хотя бы две единицы одного из материалов.
p P.P.C.  В случае с Людьми и "обыкновенными" Зомби(те, у которых нету цели обрести облик Человека) смерть наступит при контакте с любым из элементов…
