h3 Ингредиенты для лекарства уже сброшены 
p Их количество ограничено и хватит далеко не всем..
p Места сброса:
	ul
		li Крепость, в которой люди чувствуют себя «бессмертными» и Бородач там зелье варит…
		li Стоит на месте, бензин и боеприпасы закончились, в войне с зомби он бесполезен..
		li КПИшный Лес...
		
p После того, как собраны все необходимые материалы, несите их к Учёному в башню КПИ!
