h3 Активизация Людей

p Люди стали собираться вокруг, странного места...
p Р.С. пока в кругу есть хотя-бы 1 артефакт – Зомби не может зайти в круг и заразить Человека
p Место находиться напротив памятников, рядом с ней - остановившийся поезд .
p Макимальная концентрация людей ожидается после 16... Они будут её исследовать... А значит - там много Мяяясссааааа 
p Однако лаболаторию защищает защитное поле , созданное артефактами.  До тех пор , пока внутри лаборатории меньше 3 человек , артефакты излучают настолько сильную энергию, что зомби не могут приблизиться к границе даже на 5 метров
p Удачной охоты!!!
