h3 Важно!
p Зомби необходимо ввести коды всех пойманных сегодня людей!
p По многочисленным просьбам воскресенье объявляется выходным днем. Таймера продлены, так что отдыхайте)
p В понедельник произойдет Последняя Битва! 
